@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: #0c131c;
    color: #e5eaf5;
    font-size: 18px;
    text-align: justify;
    padding: 20px;
}

.typing-text {
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
    position: relative;
    display: inline-block;
    overflow: visible; /* Ensure it's not clipped */
}

.typing-text span {
    position: relative;
    display: inline-block;
}

.typing-text span::before {
    content: "Vocalist";
    color: #845bb3;
    position: absolute;
    top: 0;
    left: 0;
    animation: words 20s infinite;
    font-size: inherit; /* Ensure the font-size inherits from the parent */
}

@keyframes words {
    0%, 100% {
        content: "Vocalist";
    }
}

/* Make sure it's visible on mobile */
@media (max-width: 768px) {
    .typing-text {
        font-size: 28px; /* Adjust the font-size for mobile */
    }
    .home-content h3 {
        font-size: 2.5rem; /* Adjust h3 size to fit better */
    }
}

.grid-container img {
    width: 100%; 
    max-width: 100%; 
    height: auto; 
    border-radius: 10px; 
    display: block;
    margin: 0 auto;
}


.grid-container iframe {
    width: 100%; 
    max-width: 100%;
    aspect-ratio: 16/9; 
    border-radius: 10px; 
    display: block; 
    margin: 0 auto;
}


@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 15px; 
    }

    .grid-container img,
    .grid-container iframe {
        max-width: 100%; 
    }
}


.responsive-img, .responsive-img2, .responsive-img3, .responsive-img4,
.responsive-img5, .responsive-img6, .responsive-img7, .responsive-img8,
.responsive-img9, .responsive-img10, .responsive-img11, .responsive-img12,
.responsive-img13, .responsive-img14, .responsive-img15, .responsive-img16,
.responsive-img17, .responsive-img18, .responsive-img19, .responsive-img20,
.responsive-img21, .responsive-img22, .responsive-img23, .responsive-img24 {
    width: 100%;
    max-width: 220px; 
    height: auto; 
    border-radius: 10px;
    border: 2px solid #845bb3;
    transition: 0.3s ease;
    object-fit: cover;
    margin-bottom: 20px;
}

.responsive-img:hover,
.responsive-img2:hover,
.responsive-img3:hover,
.responsive-img4:hover,
.responsive-img5:hover,
.responsive-img6:hover,
.responsive-img7:hover,
.responsive-img8:hover,
.responsive-img9:hover,
.responsive-img10:hover,
.responsive-img11:hover,
.responsive-img12:hover,
.responsive-img13:hover,
.responsive-img14:hover,
.responsive-img15:hover,
.responsive-img16:hover,
.responsive-img17:hover,
.responsive-img18:hover,
.responsive-img19:hover,
.responsive-img20:hover,
.responsive-img21:hover,
.responsive-img22:hover,
.responsive-img23:hover,
.responsive-img24:hover {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .responsive-img, .responsive-img2, .responsive-img3, .responsive-img4,
    .responsive-img5, .responsive-img6, .responsive-img7, .responsive-img8,
    .responsive-img9, .responsive-img10, .responsive-img11, .responsive-img12,
    .responsive-img13, .responsive-img14, .responsive-img15, .responsive-img16,
    .responsive-img17, .responsive-img18, .responsive-img19, .responsive-img20,
    .responsive-img21, .responsive-img22, .responsive-img23, .responsive-img24 {
        max-width: 100%; 
    
    }


header {
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    transition: top 0.3s ease;
}

header.hidden {
    top: -100px;
}

.logo {
    font-size: 3rem;
    color: #845bb3;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover {
    transform: scale(1.1);
}

nav a {
    font-size: 1.8rem;
    color: #e5eaf5;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active {
    color: #845bb3;
    border-bottom: 3px solid #845bb3;
}


.nav-toggle {
    display: none;
    font-size: 2.5rem;
    background: none;
    color: #e5eaf5;
    cursor: pointer;
}

@media (max-width: 995px) {
    .nav-toggle {
        display: block;
    }

    nav {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        width: 60%;
        background-color: #161616;
        border-left: 3px solid #845bb3;
        border-bottom: 3px solid #845bb3;
        padding: 2rem;
        border-bottom-left-radius: 2rem;
        flex-direction: column;
        z-index: 999;
    }

    nav.active {
        display: flex;
    }

    nav a {
        display: block;
        font-size: 2rem;
        margin: 1.5rem 0;
    }
}

section {
    min-height: 100vh;
    padding: 5rem 9% 5rem;
    scroll-margin-top: 6rem;
    margin-bottom: 20px;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: #0c131c;
}

.home .home-content h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span {
    color: #845bb3;
}

.home-content h3 {
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-content p {
    font-size: 1.6rem;
}

.home-img img {
    width: 32vw;
    max-width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 25px solid #845bb3;
    cursor: pointer;
    transition: 0.2s linear;
}

.home-img img:hover {
    transform: scale(1.05);
}


.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid #845bb3;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: #845bb3;
}

.social-icons a:hover {
    color: #0c131c;
    transform: scale(1.3) translateY(-5px);
    background-color: #845bb3;
    box-shadow: 0 0 25px #845bb3;
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: #0c131c;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #845bb3;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #845bb3;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.03);
    background-color: #845bb3;
    color: #0c131c;
    box-shadow: 0 0 25px #845bb3;
}


@media (max-width: 1000px) {
    .home {
        flex-direction: column;
        gap: 4rem;
        text-align: center;
    }

    .home .home-content h1 {
        font-size: 4rem;
    }

    .home .home-content h3 {
        font-size: 2.5rem;
    }

    .home-img img {
        width: 70vw;
    }
}

@media (max-width: 768px) {
    body {
        font-size: 1.4rem;
    }

    .btn {
        font-size: 1.4rem;
        padding: 1rem 2rem;
    }

    nav a {
        font-size: 1.6rem;
    }
}
