@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: #0c131c;
    color: #e5eaf5;
    font-size: 18px;
    text-align: justify;
    padding: 20px;
}

header{
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: top 0.3s ease; 
    z-index: 1000; 
}

header.hidden {
    top: -100px; 
}

.logo{
    font-size: 3rem;
    color: #845bb3;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover{
    transform: scale(1.1);
}

nav a{
    font-size: 1.8rem;
    color: #e5eaf5;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active{
    color: #845bb3;
    border-bottom: 3px solid #845bb3;
}

@media only screen and (max-width: 768px) {
    body {
      font-size: 16px;   
      padding: 10px; 
    }
}
@media(max-width:995px){
    nav{
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid #845bb3;
        border-bottom: 3px solid #845bb3;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: #161616;
        border-top: 0.1rem solid rgba(0,0,0,0.1);
    }

    nav.active{
        display: block;
    }

    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover,
    nav a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #845bb3;
    }
}

section {
    min-height: 100vh;
    padding: 5rem 9% 5rem;
    scroll-margin-top: 2rem;
    margin-bottom: 20px;
}


.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: #0c131c;
}

.home .home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span{
    color: #845bb3;
}

.home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-content p{
    font-size: 1.6rem;
}

.home-img{
    border-radius: 50%;
}

.home-img img{
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px solid #845bb3;
    cursor: pointer;
    transition: 0.2s linear;
}

.home-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
}

.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid #845bb3;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: #845bb3;
}

.social-icons a:hover{
    color: #0c131c;
    transform: scale(1.3) translateY(-5px);
    background-color: #845bb3;
    box-shadow: 0  0 25px #845bb3;
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: #0c131c;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #845bb3;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #845bb3;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover{
    transform: scale3d(1.03);
    background-color: #845bb3;
    color: #0c131c;
    box-shadow: 0 0 25px #845bb3;
}

.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span{
    position: relative;
}

.typing-text span::before{
    content: "Vocalist";
    color: #845bb3;
    animation: words 20s infinite;
}

.typing-text span::after{
    content: "";
    background-color: #0c131c;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid #0c131c;
    right: -8;
    animation: cursor 0.6s infinite;
}
.about-img {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2rem 0;
    flex-wrap: wrap;
}

.responsive-img,
.responsive-img2,
.responsive-img3,
.responsive-img4 {
    width: 220px;
    height: 220px;
    border-radius: 10px;
    border: 2px solid #845bb3;
    transition: 0.3s ease;
    object-fit: cover;
}

.responsive-img:hover,
.responsive-img2:hover,
.responsive-img3:hover,
.responsive-img4:hover {
    transform: scale(1.1);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(3, 200px); 
    gap: 10px; 
    padding: 20px;
}

.project-item {
    background-color: #161616;
    border-radius: 2px;
    padding: 0px;
    text-align: center;
    transition: transform 0.3s ease;
    border: 2px solid #845bb3;
}

.project-item2 {
    background-color: #161616;
    border-radius: 2px;
    padding: 0px;
    text-align: center;
    transition: transform 0.3s ease;
    border: 2px solid #845bb3;
}

.project-item3 {
    background-color: #161616;
    border-radius: 2px;
    padding: 0px;
    text-align: center;
    transition: transform 0.3s ease;
    border: 2px solid #845bb3;
}

.project-item4 {
    background-color: #161616;
    border-radius: 2px;
    padding: 0px;
    text-align: center;
    transition: transform 0.3s ease;
    border: 2px solid #845bb3;
}

.project-item5 {
    background-color: #161616;
    border-radius: 2px;
    padding: 0px;
    text-align: center;
    transition: transform 0.3s ease;
    border: 2px solid #845bb3;
}

.project-item6 {
    background-color: #161616;
    border-radius: 2px;
    padding: 0px;
    text-align: center;
    transition: transform 0.3s ease;
    border: 2px solid #845bb3;
}

.project-item7 {
    background-color: #161616;
    border-radius: 2px;
    padding: 0px;
    text-align: center;
    transition: transform 0.3s ease;
    border: 2px solid #845bb3;
}

.project-item8 {
    background-color: #161616;
    border-radius: 2px;
    padding: 0px;
    text-align: center;
    transition: transform 0.3s ease;
    border: 2px solid #845bb3;
}

.project-item2 img {
    width: 100%;
    height: 196px;
    border-radius: 0px;
    object-fit: cover;
}

.project-item3 img {
    width: 100%;
    height: 196px;
    border-radius: 0px;
    object-fit: cover;
}

.project-item4 img {
    width: 100%;
    height: 196px;
    border-radius: 0px;
    object-fit: cover;
}

.project-item5 img {
    width: 100%;
    height: 196px;
    border-radius: 0px;
    object-fit: cover;
}
.project-item6 img {
    width: 100%;
    height: 196px;
    border-radius: 0px;
    object-fit: cover;
}

.project-item iframe {
    width: 100%;
    height: 196px;
    border-radius: 0px;
    object-fit: cover;
}

.project-item7 iframe {
    width: 100%;
    height: 196px;
    border-radius: 0px;
    object-fit: cover;
}

.project-item8 iframe {
    width: 100%;
    height: 196px;
    border-radius: 0px;
    object-fit: cover;
}
  
.project-item:hover {
    transform: scale(1.05);
}

.project-item2:hover {
    transform: scale(1.05);
  
}

.project-item3:hover {
    transform: scale(1.05);
}

.project-item4:hover {
    transform: scale(1.05);
}

.project-item5:hover {
    transform: scale(1.05);
}

.project-item6:hover {
    transform: scale(1.05);
}

.project-item7:hover {
    transform: scale(1.05);
}

.project-item8:hover {
    transform: scale(1.05);
}


@keyframes cursor{
    to{
        border-left: 3px solid #845bb3;
    }
}

@media (max-width: 1000px){
    .home{
        gap: 4rem;
    }
}

@media(max-width:995px){
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home .home-content h3{
        font-size: 2.5rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }
    .nav-toggle {
        display: none; 
        font-size: 2rem;
        background: transparent;
        border: none;
        color: #e5eaf5;
        cursor: pointer;
    }
    
    @media (max-width: 995px) {
        .nav-toggle {
            display: block; 
        }
    
        nav {
            display: none; 
        }
    
        nav.active {
            display: block; 
        }
    }

section {
    min-height: 100vh;
    padding: 5rem 9% 5rem;
    scroll-margin-top: 6rem;
    opacity: 0; 
    transition: opacity 0.5s ease-in-out; 
    position: absolute; 
    width: 100%; 
    top: 0; 
    left: 0; 
}

section.active {
    opacity: 1; 
    z-index: 1; 
}

section.hidden {
    opacity: 0; 
    z-index: 0; 
}
    
}

.gallery-img {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2rem 0;
    flex-wrap: wrap;
}

.responsive-img5,
.responsive-img6,
.responsive-img7,
.responsive-img8,
.responsive-img9,
.responsive-img10,
.responsive-img11,
.responsive-img12,
.responsive-img13,
.responsive-img14,
.responsive-img15,
.responsive-img16 {
    width: 220px;
    height: 220px;
    border-radius: 10px;
    border: 2px solid #845bb3;
    transition: 0.3s ease;
    object-fit: cover;
    margin-bottom: 20px;
}

.responsive-img5:hover,
.responsive-img6:hover,
.responsive-img7:hover,
.responsive-img8:hover,
.responsive-img9:hover,
.responsive-img10:hover,
.responsive-img11:hover,
.responsive-img12:hover,
.responsive-img13:hover,
.responsive-img14:hover,
.responsive-img15:hover,
.responsive-img16:hover {
    transform: scale(1.1);
}

.winnings-img {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2rem 0;
    flex-wrap: wrap;
}

.responsive-img17,
.responsive-img18,
.responsive-img19,
.responsive-img20,
.responsive-img21,
.responsive-img22,
.responsive-img23,
.responsive-img24 {
    width: 220px;
    height: 220px;
    border-radius: 10px;
    border: 2px solid #845bb3;
    transition: 0.3s ease;
    object-fit: cover;
    margin-bottom: 20px;
}

.responsive-img17:hover,
.responsive-img18:hover,
.responsive-img19:hover,
.responsive-img20:hover,
.responsive-img21:hover,
.responsive-img22:hover,
.responsive-img23:hover,
.responsive-img24:hover {
    transform: scale(1.1);
}